
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual environments
venv/
.env/
env/
portailWifiEnv/
.venv/
*.pyc

# IDE folders
.vscode/
.idea/

# Byte-compiled files
*.so

# FastAPI/Uvicorn logs (if you have any)
*.log

# Database files
logins.json

.env